* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    width: 45%;
    background: linear-gradient(135deg,#0f172a,#0ea5a4); 
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 26px;
}

.btn {
    background: #c4f492;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

.title span {
    color: #d3ff9a;
}

.subtitle {
    font-size: 15px;
    margin-top: 15px;
    opacity: 0.9;
}

.offer-heading {
    margin-top: 40px;
    font-size: 18px;
}

.offer-boxes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.offer-card {
    width: 110px;
    height: 110px;
    background: #06f5d5;
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.offer-card .icon {
    font-size: 28px;
}

.footer {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.footer a {
    color: #e4f9c9;
    text-decoration: none;
    font-size: 14px;
}



.right {
    width: 55%;
    padding: 50px;
    text-align: center;
}

.image-box {
    position: relative;
}

.image-box img {
    width: 100%;
    border-radius: 20px;
}

.tag {
    position: absolute;
    background: #b2ef8d;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}

.tag1 {
    top: 20px;
    left: 20px;
}

.tag2 {
    bottom: 30px;
    left: 25%;
}

.tag3 {
    top: 25px;
    right: 20px;
}

.tagline {
    margin: 40px 0;
    font-size: 20px;
    color: #333;
}

.logo-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    opacity: 0.7;
    font-size: 16px;
}

/* for mobile view */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .left, .right {
        width: 100%;
    }
}
