* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f8f8f8;
}

.login-container {
    display: flex;
    height: 100vh;
}

.left-panel {
    width: 30%;
    background: linear-gradient(135deg,#0f172a,#0ea5a4); 
    color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 40px;
}

.subtitle {
    margin: 10px 0 30px 0;
    opacity: 0.9;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.login-form label {
    font-size: 14px;
}

.login-form input {
    padding: 12px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.btn {
    padding: 12px;
    background: #c4f492;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: #e4f9c9;
    text-decoration: none;
    font-size: 14px;
}


.right-panel {
    width: 70%;
    background: url("https://images.unsplash.com/photo-1553877522-43269d4ea984") no-repeat center center / cover;
    position: relative;
}

.overlay-text {
    position: absolute;
    bottom: 60px;
    left: 60px;
    background: rgba(0,0,0,0.5);
    padding: 20px 30px;
    border-radius: 10px;
    color: #fff;
}

.overlay-text h2 {
    font-size: 28px;
}

.overlay-text p {
    margin-top: 8px;
    font-size: 15px;
}


@media (max-width: 900px) {
    .login-container {
        flex-direction: column;
        height: auto;
    }

    .left-panel, .right-panel {
        width: 100%;
        height: 50vh;
    }

    .overlay-text {
        left: 20px;
        bottom: 20px;
    }
}
